<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookMessenger | @ViewBag.Title</title>
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <div>
        <a href="/Home/Index">Home</a> | 
        @if (User.FindFirst(ClaimTypes.Role)?.Value == TypeRole.Admin.ToString())
        {
            <a href="/Admin/Index">Личный кабинет</a>
        }
        @if (User.FindFirst(ClaimTypes.Role)?.Value == TypeRole.Operator.ToString())
        {
            <a href="/Operator/Index">Личный кабинет</a>
        }
        @if (User.FindFirst(ClaimTypes.Role)?.Value == TypeRole.User.ToString())
        {
            <a href="/User/Index">Личный кабинет</a>
        }
        @if (User.FindFirst(ClaimTypes.Name) is null)
        {
           @: <a href="/Home/Login">Sign in</a>|
           @: <a href = "/Home/Reg" > Registration </a>|
        }
        @if(User.FindFirst(ClaimTypes.Name) is not null)
        {
             <a href="/Home/Logout">Sign out</a>
        }
    </div>
    <main>
        @RenderBody()
    </main>
    <footer>
        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }
        else
        {
          <span>Copyright© BookMessenger, @DateTime.Now.Year. All rights reserved</span>
        }
    </footer>
</body>

</html>